.header-info {
        background: linear-gradient(135deg, #4b6cb7 0%, #182848 100%);
    }
    .header-warning {
        background: linear-gradient(135deg, #f12711 0%, #f5af19 100%);
    }
    .header-danger {
        background: linear-gradient(135deg, #cb2d3e 0%, #ef473a 100%);
    }
    .hover-link:hover {
        color: #fff !important;
        text-decoration: underline !important;
    }
    .fs-7 {
        font-size: 0.8rem;
    }
    .extra-small {
        font-size: 0.72rem;
    }
    .last-no-border:last-child {
        border-bottom: 0 !important;
        margin-bottom: 0 !important;
        pb-0 !important;
    }
