<Router AppAssembly="typeof(Program).Assembly" NotFoundPage="typeof(Pages.NotFound)">
    <Found Context="routeData">
        <ErrorBoundary @ref="_errorBoundary">
            <ChildContent>
                <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />
                <FocusOnNavigate RouteData="routeData" Selector="h1" />
            </ChildContent>
            <ErrorContent>
                <div class="alert alert-danger m-4 p-4 text-center" role="alert">
                    <h3>Something went wrong</h3>
                    <p class="mb-3">@context.Message</p>
                    <button class="btn btn-danger" @onclick="_errorBoundary!.Recover">Try again</button>
                </div>
            </ErrorContent>
        </ErrorBoundary>
    </Found>
</Router>

@code {
    ErrorBoundary? _errorBoundary;
}
